div.col-6, div.col-3, div.col-2, div#camera1_information.col, div#camera2_information.col, div#camera_list.row.row-cols-4{
    padding:0px !important;
    margin:0px !important;
}
#map {
    width:100%;
    height:70%;
    background-color:yellow;
}

#event_list {
    height: 950px;
}

#event {
    height: 50px;
    background-color: white;
    margin: 20px;
}

#video_data{
    height: 50px;
    background-color: white;
    margin: 20px;
}

#camera_list{
    height:30%;
    background-color:blue;
    width:100%;
}
